{
  "models": {
    "nemotron-nano-4b-q8": {
      "params": {
        "ctx_size": 36466,
        "n_gpu_layers": 42
      }
    },
    "qwen3-vl-4b": {
      "params": {
        "max_kv_size": 8192,
        "startup_timeout": 300
      }
    }
  },
  "chat_params": {
    "temperature": 0.0,
    "max_tokens": 512,
    "shared_content_max_tokens": 768,
    "top_p": 0.8,
    "repetition_penalty": 1.05
  }
}
